/* Home.css */
.container {
    background-image: url('E:\Programacion\Facultad\Desarrollo aplicativo\Practica\parcial1\rickandmorty\src\Assets/background.jpg');
    background-size: 100%;
    background-position: center;
    min-height: 100vh; /* Esto garantiza que la imagen de fondo cubra toda la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    padding: 20px; /* Añade un espacio interno para separar el contenido del borde */
    font-family: Arial, sans-serif;
    color: #ffffff;
  }
  
  h1 {
    font-size: 36px;
    color: #0077b6; /* Color azul claro */
    margin-bottom: 20px; /* Espacio entre el título y los párrafos */
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px; /* Espacio entre los párrafos */
  }
  